<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="{{ site.baseurl }}/is-bulmak">İş bulmak</a></li>
            <li><a href="{{ site.baseurl }}/yazilar">Blog Yazıları</a></li>
            <li><a href="{{ site.baseurl }}/videolar">Videolar</a></li>
            <li><a href="{{ site.baseurl }}/hakkinda">Hakkında</a></li>
          </ul>
        </div>
        <p>
          <a href="https://uzaktancalismak.com">UzaktanCalismak.com</a> — <a href="https://twitter.com/fatihacet">Fatih Acet</a><br />
          <a href="https://github.com/fatihacet/uzaktancalismak-com">GitHub</a> veya <a href="https://gitlab.com/fatihacet/uzaktancalismak-com">GitLab</a>'da katkıda bulunun. <br />
          <a href="https://gitlab.com/fatihacet/uzaktancalismak-com">GitLab Pages</a> üzerinde ücretsiz olarak sunulmaktadır.
        </p>
      </div>
    </div>
  </div>
</footer>
{% include analytics.html %}
