<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="Uzaktan çalışmak ile ilgili bilinmesi gereken her şey">
<meta name="keywords" content="remote çalışmak, türkiye'de remote çalışmak, remote çalışmanın avantajları, remote çalışmanın zorlukları, remote iş bulmak, remote iş bulunacak yerler, uzaktan çalışmak, türkiye'de uzaktan çalışmak, uzaktan çalışmanın avantajları, uzaktan çalışmanın zorlukları, uzaktan çalışılacak iş bulmak, uzaktan çalışmak için iş bulunacak yerler">
<meta name="author" content="Fatih Acet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css" />
<script src="{{ site.baseurl }}/js/main.js"></script>
